<!DOCTYPE html>
<html>
<meta charset="utf-8">
    <head>
        <title>Search</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="./static/css/main.css">
    </head>
<style>
</style>
<body>
    <div class="page-header">
        <h1>Protein Pathway Analysis</h1>
    </div>
    <div class="choose">
        <font size=6 face="Times New Roman" color="#fff">Choose the analytic method:</font>
        <form action="/choose" method="get">
            <input type="submit" value="See Correlation Matrix" name="corrmat">
            <input type="submit" value="Show Correlation Analysis" name="corr">
            <input type="submit" value="Search in STRING Database" name="str">
            <input type="submit" value="See Patients Clustering" name="clu">
    </form>
    </div>
</body>
</html>